{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap3 %}

{% block title %}{% trans "About" %}{% endblock %}

{% block content %}

		<div class="jumbotron">
        <span class="text-center">
          <h2 class="display-3">SISTEMA DE RECUPERAÇÃO DE INFORMAÇÃO DOTADO DE ANÁLISE DE
CONTEXTO LOCAL BASEADA EM MODELO SEMÂNTICO DISTRIBUCIONAL</h2>
        </span>
          <hr class="my-4">
          <p>{{ doc.text }}</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" onclick="history.back()" role="button">{% trans "Back" %}</a>
          </p>
        </div>


		
{% endblock %}
