{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap3 %}

{% block title %}{% trans "About" %}{% endblock %}

{% block content %}

		<div class="jumbotron">
        <span class="text-center">
          <h2 class="display-3">Luppar: {% trans "Information Retrieval System with Local Context Analysis Based on a Semantic Distributional Model" %}</h2>
        </span>
          <hr class="my-4">

            <p>{% trans "An Information Retrieval tool with open source code that uses a local distributional semantic model associated to each corpus. The system performs automatic query expansion using a combination of distributional semantic model and local context analysis and supports relevancy feedback. The performance of the system was evaluated in databases of different domains and presented satisfactory results compared to those published in the literature." %}</p>

            <h3>{% trans "Authors" %}</h3>
            <div class="row">
                <div class="col-md-4">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                    <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/fabianobie" data-format="inline" data-related="false"></script>
                </div>
                <div class="col-md-4">
                    <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/jos%C3%A9-everardo-bessa-maia-a7530559/" data-format="inline" data-related="false"></script>
                </div>
            </div>

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" onclick="history.back()" role="button">{% trans "Back" %}</a>
            </p>

        </div>



		
{% endblock %}
