{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap3 %}

{% block title %}{% trans 'Document' %} {{ doc_id }}{% endblock %}

{% block content %}

		<div class="jumbotron">
        <span class="text-center">
          <h1 class="display-3">{{ doc.idd }}</h1>
          <p class="lead">{{ source_name }}</p>
        </span>
          <hr class="my-4">
          <p>{{ doc.text }}</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" onclick="history.back()" role="button">{% trans "Back" %}</a>
          </p>
        </div>


		
{% endblock %}
