{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap3 %}

{% block title %}{% trans "Downloads" %}{% endblock %}

{% block content %}

		<div class="jumbotron">
        <span class="text-center">
          <h2 class="display-3">{% trans "Available downloads" %}</h2>
        </span>
            <div class="panel panel-default">
            <div class="panel-body">

                     <div class="list-group col-md-12">
                             <span class="list-group-item">
                                 <a href="https://github.com/fabianobie/luppar/archive/master.zip" class="badge" style="font-size: 24px"><i class="glyphicon glyphicon-download"></i></a>
                                    <p>{% trans "Luppar source code" %}</p>
                             </span>
                            <span class="list-group-item">
                                 <a href="/static/down/ARTIGOS.zip" target="_blank" class="badge" style="font-size: 24px"><i class="glyphicon glyphicon-download"></i></a>
                                    <p>{% trans "ARTIGOS: documents, querys and relevance" %}</p>
                             </span>
                     </div>
            </div>
            </div>

          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" onclick="history.back()" role="button">{% trans "Back" %}</a>
          </p>
        </div>


		
{% endblock %}
